<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      JSSM &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
      - <a target="_blank" href="https://github.com/StoneCypher/jssm">Github</a>
      - <a target="_blank" href="https://www.npmjs.com/package/jssm">NPM</a>
      - <a target="_blank" href="https://github.com/StoneCypher/jssm/blob/master/LICENSE.md">MIT License</a>
    </div>
  </div>
</footer>