
:root { --color-background: #def; }

body .tsd-page-title     { background-color: #bdf; }
body .tsd-page-toolbar   { background-color: #acf; border-bottom-color: #9be; }
body .with-border-bottom { background-color: #acf; border-color: #9be; }
