
.tsd-panel-group > h1,
.tsd-panel-group > h2,
.tsd-panel-group > h3 { padding-left: 0; }
.tsd-panel            { border-radius: 0.35em; }

.tsd-panel > .tsd-signatures .tsd-signature.tsd-kind-icon { background-color: #eee; }

#quicktab td    { text-align: right; }
#quicktab td+td { text-align: center; }

#quicktab th    { text-align: right; font-weight: normal; }
#quicktab th+th { text-align: center; }

pre { border-radius: 0.3em; }

@media (prefers-color-scheme: light) {

  :root                    { --color-background: #def; }

  body .tsd-page-title     { background-color: #bdf; }
  body .tsd-page-toolbar   { background-color: #acf; border-bottom-color: #9be; }
  body .with-border-bottom { background-color: #acf; border-color: #9be; }

  html body .tsd-panel table td,
  html body .tsd-panel table th { border-color: #9be; }

  html body .tsd-panel table tr                 { background-color: #def;    }
  html body .tsd-panel table tr:nth-child(even) { background-color: #d0e0f0; }
  html body .tsd-panel table tr th              { background-color: #bdf;    }

  fail { font-style: italic; color: #b00; }

}



@media (prefers-color-scheme: dark) {

  fail { font-style: italic; color: #f66; }

  html body .tsd-panel table td,
  html body .tsd-panel table th { border-color: #335; }

  html body .tsd-panel table tr                 { background-color: #445; }
  html body .tsd-panel table tr:nth-child(even) { background-color: #446; }
  html body .tsd-panel table tr th              { background-color: #335; }

}





.rot_th_tab                   { vertical-align: bottom; }
.rot_th_tab th                { position: relative; font-weight: normal; }
.rot_th_tab th:first-of-type  { height: 7em; vertical-align: bottom; }
.rot_th_tab td:nth-of-type(2),
.rot_th_tab th:nth-of-type(2) { vertical-align: bottom; font-weight: normal; text-align: center; }
.rot_th_tab th+th+th,
.rot_th_tab td+td+td          { padding: 6px 4px; min-width: 1.3em; }
.rot                          { transform-origin: 0 0; transform: rotate(-90deg); display: inline-block; position: absolute; left: 0.25em; bottom: -0.75em; font-weight: 400; }

html li.pages-entry-depth-0 { padding-left: 15px; }
html li.pages-entry-depth-1 { padding-left: 30px; }
html li.pages-entry-depth-2 { padding-left: 45px; }
html li.pages-entry-depth-3 { padding-left: 60px; }
html li.pages-entry-depth-4 { padding-left: 75px; }
html li.pages-entry-depth-5 { padding-left: 90px; }
